.title {
  background-color: rgb(235, 164, 34);
  margin-bottom: 0;
}

#info {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: left;
  padding: 0 5px;
}

#right {
  background-color:rgb(206, 107, 1);
  padding: 0;
}