/* NewsForm.css */

.news-form-container {
  max-width: 75vw;
  margin: 10vw auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.news-form-container h2 {
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

.btn-block {
  width: 100%;
}
