.blockquote {
	max-width: 500px;
}

.blockquote:before,
.blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

.blockquote:before {
	content: '“';
	left: -4rem;
	top: -2rem;
}

.blockquote:after {
	content: '”';
	right: -4rem;
	bottom: -2rem;
}

cite {
	line-height: 3;
	text-align: left;
}

.process-card {
	will-change: transform;
	transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
	transform-style: preserve-3d;
}