@import "../../../scss/styles.scss";

.blockquote {
	max-width: 500px;
}

.blockquote:before,
.blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

.blockquote:before {
	content: '“';
	left: -4rem;
	top: -2rem;
	color: $bg-light;
}

.blockquote:after {
	content: '”';
	right: -4rem;
	bottom: -2rem;
	color: $bg-light;

}

cite {
	line-height: 3;
	text-align: left;
}