#title_info {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: orange;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    padding: 0 5px;
}

#title_contact {
    background-color: #eba422 !important;
    margin-bottom: 0;
    color: white !important;
}

#xp_date {
    font-size: small;
    text-align: center;
}

#xp_ent {
    font-size: small;
    text-align: center;
}

#xp_skills {
    font-size: small;
    text-align: justify;
}

#right {
    border: 1px solid #ccc;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #ce6b01;
    padding: 0;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

#left {
    border: 1px solid #ccc;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}


#info {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: left;
    padding: 0 5px;
}

@media print {
    #left, #right {
        border: none;
        border-radius: 0;
    }
    .noprint {
        display: none;
    }
}