@import '../../../scss/styles.scss';

// Définir les dimensions du cercle
$circle-diameter: 10vw; // 1/10 de la page

// Définir les positions initiales et finales
$top-start: 0;
$left-start: 100%;
$top-end: 0;
$left-end: 0;
// Créer l'animation
@keyframes circleMoveToHexaForm {
  0% {
    top: 0;
    left: calc(100% - #{$circle-diameter});
    // background-color: $bg-light;
    clip-path: circle(50% at 50% 50%);
    background-image: url('https://www.mimouss.fr/images/2024/4/1/log_mimouss.png');

  }

  20% {
    top: calc(50% - #{$circle-diameter});
    left: 0;
    clip-path: circle(50% at 50% 50%);

  }

  40% {
    top : calc(100% - #{$circle-diameter});
    left: 60%;
    clip-path: circle(50% at 50% 50%);

  }

  50% {
    top: 60%;
    left: 60%;
    background-image: url('https://www.mimouss.fr/images/2024/4/1/log_mimouss.png');

  }

  60% {
    border-radius: 0;
    scale: 1;
  }

  80% {
    rotate: (4turn);
    height: calc($circle-diameter * sqrt(3) / 2);
    top: 60%;
    left: 60%;
    clip-path: polygon(25% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        25% 100%,
        0% 50%);
    background-color: transparent;
  }

  100% {
    scale: 50;
  }

}

// Appliquer le style au cercle
.circle {
  position: absolute;
  width: $circle-diameter;
  height: $circle-diameter;
  border-color: $bg-dark;
  // top: 0;
  // left: 100%;
  border-radius: 50%;
  animation: circleMoveToHexaForm 4s linear;
}

#landing-page {
  position: relative;
  height: 100vh;
  opacity: 0;
  overflow: hidden;
  // affichage du contenu de transparent à visiblle en 4s après l'animation du cercle
  animation: fadeIn 2.75s 2.75s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}