.register {
  width: 50vw;
  height: 50vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .register__form {
    width: 400px;
    height: 400px;

    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .register__form__title {
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .register__form__input {
      width: 100%;
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 0 10px;
      margin-bottom: 10px;

      &:focus {
        outline: none;
        border: 1px solid #000;
      }
    }

    .register__form__button {
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 5px;
      background-color: #000;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: #333;
      }
    }

    .register__form__link {
      text-align: center;
      margin-top: 10px;

      a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}