.hexagon {
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
  cursor: pointer;
  background-color: red;
}

.hexagon-in1 {
  overflow: hidden;
  transform: rotate(-60deg);
  background-color: #F0F;
}

.hexagon-in2 {
  background-color: #fff;
  overflow: hidden;
  visibility: visible;
  transform: rotate(-60deg);
  background-size: cover;
}