.alert {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slideIn 1.5s ease-in-out;
  animation-fill-mode: forwards;
}