@import "bootstrap/scss/bootstrap";
<<<<<<< HEAD
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
=======

html {
  background-color: gray;
}
>>>>>>> 07764e19d3de1573d3072b5886d889345b9347fe

@media print {

  header,
  footer,
  aside,
  nav {
    display: none;
  }

  main {
    width: 100%;
    margin: 0;
  }

  #title_contact {
    background-color: #eba422 !important;
    margin-bottom: 0;
    color: white !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}